@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

.container {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Poppins', sans-serif;
    align-items: baseline;   
}
.container > *{
    flex: 1 100%;
}
footer{
    text-align: center;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
}
main{
  background-color: white;
}
/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #141B41;
 	position: absolute;
	top: 1rem;
	right: 1rem;
  z-index: 9999;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❇︎";
}

.navigation {
	display: flex;
  z-index: 9999;
	flex-direction: column;
	list-style: none;
  background-color: white;
}

.navigationDark {
  display: flex;
	flex-direction: column;
	list-style: none;
  text-align: center;
  background-color: #256EFF;
}

.navigation a {
  z-index: 9999;
	display: none;
  padding-left: 1rem;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #256EFF;
  background-color: white;
  transition: 0.3s;
}

.navigationDark a {
	display: none;
  padding-left: 1rem;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: white;
  background-color:  #256EFF;
  transition: 0.3s;
}

.navigation a:hover {
  background-color: #FF495C;
  color: #FCFCFC;
  margin: 2px;
  box-shadow: 0px 5px 8px -8px #111; 
  border-radius: 13px;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.navigation .active{
	background-color: #46237A;
  color: #E6EED6;
	font-weight: 700;
}

.shadow {
    margin: 0 auto;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
}
.top {
      box-shadow: 0px -15px 10px -15px #111;    
    }
.bottom {
      box-shadow: 0px 15px 10px -15px #111;    
    }
.left {
      box-shadow: -15px 0px 10px -15px #111;    
    }
.right {
      box-shadow: 15px 0px 10px -15px #111;    
    }

  .hero{
    margin: 2px auto;
    position: relative;
  }
  .hero img{
    object-fit:cover;
    width: 100%;
    height: auto;
    padding: 1px;
    overflow:hidden; 
    border: 1px solid white;
}
.herolabel {
	position: absolute;
	top: 20px;
	left: 30px;
  /*-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  /*filter: blur(3px);*/
  background-color:transparent;
	/*background: radial-gradient(#46237A, #FF495C);
	padding: 1.5rem;*/
	opacity: 0.75;
  border-radius: 13%;
}

.herolabel h1{
	margin: 0;
  color: #46237A;
  mix-blend-mode: difference;
	padding: .25rem;
	font-size: 1rem;
  line-height: 1.2288;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: -.01em;
	font-family:"Great Vibes", serif;
}

  .navigation a.join{
    background-color: #256EFF;
    color:white;
    text-align: center;
  }
  .navigation a.join:hover{
    background-color: #46237A;
    color: #E6EED6;
    text-align: center;
  }

  .navigation a.none{
    color:white;
    text-align: center;
  }
  .navigation a.none:hover{
    background-color: white;
    color: #E6EED6;
    text-align: center;
  }
  .navigationDark a.join{
    background-color: white;
    color:#256EFF;
    text-align: center;
  }
  .navigationDark a.join:hover{
    background-color: #46237A;
    color: #E6EED6;
    text-align: center;
  }

  .navigationDark a.none{
    color:white;
    text-align: center;
  }
  .navigationDark a.none:hover{
    background-color: white;
    color: #E6EED6;
    text-align: center;
  }
  section{
    justify-content: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    grid-template-columns: 12%;
    align-items: center;  
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
  }
  .cardDark {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(250, 248, 248, 0.2);
    transition: 0.3s;
    width: auto;
    background-color: rgb(241, 236, 236);
  }
  
  .cardDark h4{
    background-color:#256EFF;
    padding: 30px;
    color: #E6EED6;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .cardDark:hover {
    box-shadow: 0 12px 16px 0 rgb(241, 234, 234);
  }
  
  .cardInfo {
    padding: 2px 16px;
  }

  .cardInfo ul>li{
    padding-bottom: 12px;
  }
  .card img{
    display: block;
    border: #E6EED6;
  }

  .cardGreen{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: black;
  }

  .cardGreen:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .cardInfoGreen{
    width: 100%;
    background-color: #3DDC97;
    color:#46237A;
    text-align: center;
  }
  
  .cardGreen img{
    display: block;
    margin: 5px;
    border: #E6EED6;
  }

  .switch {
    position: relative;
    z-index: 9999;
    display: inline-block;
    width: 60px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;;
    bottom: 2px;
    background-color: #FF495C;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(38px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .sidebar{
    grid-area: sidebar;
    margin: 2rem;
  }

  .picMain{
    grid-area: picMain;
    margin: 2rem;
  }

  .picMain img{
    margin-bottom: 2rem;
  }

  footer{
    grid-area: footer;
  }

  .topHEad{
    grid-area:topHEad;
  }

  .wrapper{
    display: grid;
    gap: 20px;
    grid-template-areas:
      "topHEad"
      "sidebar"
      "picMain"
      "footer";
  }

  /*----------- Form Styling --------*/
  :root {
    --legen-color: #256EFF;
    --pane-padding: 1rem;
    --px-size: 1px;
  }

  .wf1 fieldset{
    margin: 2rem 0;
    border: var(--px-size) solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
  }

  .wf1 legend{
    color:var(--legen-color);
    padding: 0 .5rem;
  }

  .wf1 label{
    display: block;
    padding-top: var(--pane-padding);
    color: #46237A;
    font-size: .9rem;
  }

  .wf1 .wf1_div{
    padding-top: var(--pane-padding);
    color:var(--legen-color);
    font-size: .9rem;
  }

  .wf1 input[type="text"],
  .wf1 input[type="password"],
  .wf1 input[type="email"],
  .wf1 input[type="tel"],
  .wf1 textarea
  {
    background-color: #eee;
    display: block;
    border: solid --px-size #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
  }

  .wf1 input[type="radio"],
  .wf1 input[type="checkbox"]{
    margin-right: 6px;
  }

  .wf1 input[type="submit"]{
    border: none;
    background-color: #46237A;
    /*background-image: linear-gradient(#46237A, #FF495C);*/
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
  }

  .wf1 input:required{
    border-right: solid 8px red;
  }

  .wf1 input:required:valid{
    border-right: solid 8px green;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .members {
    width: 90vw;
    max-width: 800px;
    margin: 50px auto;
  }

  .btn {
    height: 55px;
    background: var(--legen-color);
    color: white;
    padding: 10px 10px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 350;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  }

  .cardM {
    border: 1px solid black;
    padding: 10px;
    background: white;
    margin-bottom: 20px;
  }
  
  #card-wrapper {
    display: grid;
    width: 100%;
    margin-top: 50px;
    gap: 10px 20px;
  }
  
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .list {
    grid-template-columns: 1fr;
  }