@media screen and (min-width: 780px){

    .container {
        width:960px;
        margin: auto;
    }
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
        display: inline;
        width:960px;
		flex-direction: row;
        justify-content: center;
	    margin: auto;
	}
    .navigationDark {
        display: inline;
        width:960px;
		flex-direction: row;
        justify-content: center;
        margin: auto;   
        background-color: #256EFF;
      }
    
	.navigation a {
        display:inline-block;
        padding-left: 1rem;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #256EFF;
        background-color: white;
	}
    .navigationDark a {
        display:inline-block;
        padding-left: 1rem;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color:  #256EFF;
        transition: 0.3s;
    }

    .herolabel {
        position: absolute;
        top: 250px;
        left: 144px;
      /*-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
      /*filter: blur(3px);*/
      background-color:transparent;
        /*background: radial-gradient(#46237A, #FF495C);
        padding: 1.5rem;*/
        opacity: 0.75;
      border-radius: 13%;
    }

    .herolabel h1{
        margin: 0;
      color: #fafafa;
        padding: .25rem;
        font-size: 2.76rem;
      line-height: 1.2288;
      font-weight: 700;
      margin-bottom: 0;
      letter-spacing: -.01em;
        font-family:"Great Vibes", serif;
    }

    section{
        display: flex;
        justify-content: center;
    }

    section.spotlight{
        display: grid;
        grid-template-areas: 
            "a a a"
            "b d c"
            "b d c";
    }
    section.spotlight > article{
        grid-area: a;
        text-align: center;
        background-color: #46237A;
        color: aliceblue;
    }

    section.spotlight >.cg1{
        grid-area: b;
    }
    section.spotlight > .cg2{
        grid-area: c;
    }
    section.spotlight > .cg3{
        grid-area: d;
    }
}