h1{
    text-align: center;
}

main, footer{
    margin: 0 auto;
    width:400px;
    display: flex;
    flex-direction: column;
}

main img{
    width: 100%;
    background: black;
    animation: fade 7s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}