@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.content {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 10px;
    font-family: 'Montserrat', sans-serif;
  }

.content > * {
    flex: 1 100%;
  }
/* Structure*/
.border{    
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

header {
    padding: 2rem;
  }
nav {
    background-color: #141B41;
    color: #E6EED6;
  }
main {
    height: 100%;
    padding: 1rem;
  }
footer {    
    padding: 2rem;
    text-align: center;
  }
/*End of Structure*/

/*nav*/
nav a{
    color: #E6EED6;
    padding-left: 1rem;
    display: block;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
  border-bottom: 1px solid #fff;
}

ul{
  list-style-type: none;
  padding: 2px;
}

/*end nav*/

/*Images*/
.logo_class {
    float: left;
    margin-right: 20px;
  }  
.right_20 {
    margin-left: 20px;
  }
/*End Images*/

/*main section*/
.text_center{
    text-align: center;
}
section{
    padding-bottom: 10px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section h3{
    background-color: #141B41;
    color: #E6EED6;
}
/*end of main section*/