@media screen and (min-width: 600px){

    body{
      margin: 0 auto;
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-template-columns: 100%;
      width:960px                  
    }

    .header li {
        float: left;
      }
    .header li a {
    padding: 20px 30px;
    }
    .header .menu {
    clear: none;
    float: left;
    max-height: none;
    }
    .header .menu-icon {
    display: none;
    }

    .heroLabel { 
      position: absolute;
      top: 150px;
      left: 30px;
      background-color: var(--linenColor);
      color: var(--linenColor);
      padding: 1.25rem;
      box-shadow: 0 0 3rem #fff;
      opacity: 0.55;
    }

    .carousel-item {
        width: 33.33%;
      }
}
